<!-- -*- engine:django -*- -->
{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col">
      <p> Total Machines: <a href="/list"> {{ machines }} </a></p>
    </div>
  </div>

  <h3>Space used</h3>

  <div class="row">
    <div class="col">
      <div id="hist" class="graph"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            {% for b in bounds %}
                <th> < {{ b }} GB </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for p in percents %}
              <td>{{ p |round(1)}} % </td>
              {% endfor %}
          </tr>
          <tr>
            {% for cnt in counts %}
              <td>{{ cnt }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script>
    var margin = {top: 20, right: 30, bottom: 30, left: 50};
    var width  = 640;
    var height = 150;

    var data = {{ data_raw | safe }};
    var data_min = d3.min(data),
        data_max = d3.max(data);

    var x_min = data_min - 1,
        x_max = data_max + 1;

    var svg = d3.select("#hist").append("svg")
                .attr("width", width + margin.left + margin.right)
		            .attr("height", height + margin.top + margin.bottom),
        g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scaleLinear()
              .domain([0, (x_max - x_min)])
              .rangeRound([0, width]);

    var xs = d3.scaleLinear()
	             .domain([x_min, x_max])
	             .range([0, width]);

    var bins = d3.histogram()
                 .domain(x.domain())
                 .thresholds(x.ticks(20))(data);

    var y = d3.scaleLinear()
              .domain([0, d3.max(bins, function(d) { return d.length; })])
              .range([height, 0]);

    var bar = g.selectAll(".bar")
               .data(bins)
               .enter().append("g")
               .attr("class", "bar")
               .attr("transform", function(d) { return "translate(" + xs(d.x0) + "," + y(d.length) + ")"; });

    bar.append("rect")
       .attr("x", 1)
       .attr("width", xs(bins[0].x1) - xs(bins[0].x0) - 1)
       .attr("height", function(d) { return height - y(d.length); });

    g.append("g")
     .attr("class", "axis axis--x")
     .attr("transform", "translate(0," + height + ")")
     .call(d3.axisBottom(xs));

  </script>

{% endblock %}
