<!-- -*- engine:django -*- -->
{% extends "layout.html" %}
{% block body %}

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Tested Machine</th>
      <th>Tested OS</th>
      <th>Date</th>
    </tr>
    <tbody>
    {% for entry in entries %}
    <tr>
      <td><a href="/testrun/{{ entry.rowid }}"> {{ entry.manufacturer }}, {{ entry.product }} </a></td>
      <td>{{ entry.OS }} </a></td>
      <td>{{ entry.time }} </a></td>
    </tr>
  {% endfor %}
    </tbody>
</table>

{% endblock %}
